*{
    margin: 0;
    padding: 0;
}
.container{
    background-image: url("	https://s39.aconvert.com/convert/p3r68-cdx67/8tbyy-cbkis.jpg");
    background-size:540px;
    background-position: center;
    height: 540px;
    width: 100%;
   
}
.chamada{
   background-color: rgba(0, 0, 0, 0.8);
   position:relative;
   height: 540px;
   width: 100%;

}
.chamada h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    padding-top: 200px;
}
.title-black{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    font-size: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
}
.demonstrative-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.demonstrative-img img{
    width: 500px;
    height: 500px;
    margin-bottom: 50px;
}
.place-black{
    background-color: #000;
}
.title-white{
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-white h1{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;

}